* {
	/* 기본값 설정 */
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-family: "Noto Sans KR", sans-serif; /* 구글 폰트 사용 */
}

body {
	background-color: bisque;
	text-align: center;
}

.img {
	position: relative;
	width: 220px;
	top: 300px;
}
.game {
	/* 모든 버튼 포함하는 영역 */
	display: none;
}

.area {
	display: flex;
}

.area1,
.area2,
.area3 {
	text-align: center; /* 선물 상자 가운데 정렬 (가로) */
	vertical-align: middle; /* 랜덤 숫자 가운데 정렬 */
	width: 500px;
	height: auto;
	color: rgb(35, 20, 132, 0.8);
	font-size: 130px;
	font-weight: bold;
}

.area1 {
	flex: 1;
	color: rgb(35, 20, 132, 0.5);
}
.area2 {
	flex: 1;
	color: rgb(35, 20, 132, 0.7);
}
.area3 {
	flex: 1;
	color: rgb(35, 20, 132, 1);
}

.btn {
	position: block;
	background-color: white;
	width: 400px;
	height: 100px;
	border: 2px solid rgba(0, 0, 0, 0.4);
	border-radius: 100px;
	font-size: 45px;
	font-weight: bolder;
}

.resultElement {
	display: block;
	margin-top: 40px;
	width: 500x;
	height: 300px;
	text-align: center; /* 내부 요소 가운데 정렬 (가로) */
}

#result {
	display: block;
	color: rgb(84, 75, 75);
	margin-top: 40px;
	font-size: xx-large;
	font-weight: bolder;
}
